* {
    margin: 0;padding: 0;box-sizing: border-box
}

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Signika+Negative:wght@300&display=swap');


:root {
    --family1: "Signika Negative", sans-serif;
    --family2: "Lobster", cursive;
}

h2 {
    font-family: var(--family2);
    font-weight: 100;
    text-transform: uppercase;
    font-size: 25px;
}

img {
    max-width: 100%;
    min-width: 50px;
}

.pokeball-header {
    width: 70px;
    height: 70px;
}

.open-menu {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

body{
    padding: 1.5rem;
    background: linear-gradient(500deg, #F6CF57, #eddbdc);
}

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    align-items: center;
    font-family: var(--family1);
}

.nav-list {
    display: flex;
    list-style-type: none;
    gap: 1.5rem;
}

.nav-list li a {
    text-decoration: none;
}

li {
    font-size: 2rem;
    
}

.open-menu, .close-menu {
    display: none;
}

section {
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.card { 
    position: relative;
    padding: 1rem;
}

.evolution {
    position: absolute;
    opacity: 1;
    transition: all 1s ease 0.3s;
}

.profile:hover {
    opacity: 0;
}

.profile {
    border: 3px solid crimson;
    border-radius: 10%;
    text-align: center;
    padding: 1.5rem;
    background-image: url(/assets/img/background-image-cards.jpg);
    background-size: cover;
    min-height: 400px;
    color: black;
}

.profile > img {
    min-height: 270px;
    max-height: 300px;
}

div > h2 {
    font-weight: bold;
}

img {
    width: 250px;
}

.pikachu-img {
    translate: 10px;
}

.charmander-img {
    translate: 0px;
}

.squirtle-img {
    translate: 0 10px;
}

.pidgey-img {
    translate: -15px 15px;
}

.growlithe-img {
    translate: -10px;
}

.abra-img {
    translate: 0 50px;
}

.snorlax-img {
    translate: 0 25px;
}

.eevee-img {
    translate: 10px 10px;
}

.bulbasaur-img {
    translate: 0 25px;
}

.rattata-img {
    translate: 0 10px;
}

.jigglypuff-img {
    translate: 0 20px;
}

.vulpix-img {
    translate: 0 -15px;
}

/* Animación cards */
.profile {
    animation: animation-pokemons-opacity 1s ease 0s;
}

@keyframes animation-pokemons-opacity {
 20% {
   opacity: 1;
   transform: scale(1);
 }
 50% {
    opacity: 0;
    transform: scale(0.2);
 }
}

.evolution {
    animation: animation-pokemons-opacity 1s ease 0s;
}

@keyframes animation-pokemons-opacity {
 20% {
   opacity: 1;
   transform: scale(1);
 }
 50% {
    opacity: 0;
    transform: scale(0.2);
 }
}

@media screen and (max-width: 721px){
    .open-menu, .close-menu {
        display: block;
    }

    .close-menu {
        color: #ececec;
        padding: 2px;
        border: 10px solid black;
        border-radius: 10px;
        background-color: black;
        font-size: 20px;
    }

    nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 3rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 3rem;
        position: fixed;
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        color: #ececec;
        gap: 3rem;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }
}